/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(102 102 105);
  border-radius: 20px;
}

.modal-backdrop {
  background: transparent;
}

.btn {
  box-shadow: none !important;
  border: none;
}

/* remove arrow buttons from input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
