form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d161f;
  overflow-y: scroll;
}

#formDiv {
  background-color: #112131;
  color: #a49e9e;
  border: 2px solid black;
  border-radius: 10px;
}
#formDiv label {
  margin: 0;
  font-weight: 600;
  user-select: none;
}
#formDiv input {
  border: none;
  background-color: #d6cdcd;
  font-weight: bold;
}

#formDiv input:focus-visible {
  outline: none;
}

#formDiv {
  border-radius: 10px;
}

#showPasswordInput {
  border-radius: 15px;
}

#showPasswordInput:checked {
  accent-color: #6901ff;
}

#formDiv a {
  font-weight: 500;
}

#formDiv a:hover {
  font-weight: bolder;
}
